.body {
    font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
}

.navbar {
    background-color: #000000;
    text-align: justify;
}

.nav {
    background-color: rgb(231, 79,17);
}

.nav-link {
    color: white;
    font-weight: bolder;
    font-size: 14px;
}

.footer {
    background-color: #000000;
    color: white;
}

    .footer .row {
        background-color: #000000;
        color: white;
        font-size: 14px;
        text-align: start;
    }

    .footer .text-center {
        font-size: 14px;
    }

.card-group .card-body {
    background-color: rgb(231, 79,17);
    color: white;
    font-size: 14px;
}

.card-group .card-text {
    font-size: 14px;
    text-align: center;
}

.card-group .card-title {
    font-size: 16px;
    text-align: center;
}


.card-title {
    font-size: 30px;
    text-align: start;
}

.card-text {
    font-size: 20px;
    text-align: start;
}

.carousel-item {
    object-fit: contain;
}

.row {
    background-color: rgb(231, 79,17);
    color: white;
    font-size: 20px;
}

.imagen-carousel {
    min-width: 1px;
    width: 100%;
    height: 600px;
    object-fit: cover;
}
